body {
  background-color: rgba(6, 6, 64, 0.85);
}

.container {
  margin: 0 auto;
  background-color: rgb(42, 120, 203);
  text-align: center;
  margin-top: 15%;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 3px rgb(125, 125, 125);
  max-width: 600px;
  color: rgb(218, 220, 223);
  padding: 15px 15px;
}

form {
  display: inline-block;
}

.strike {
  text-decoration: line-through;
}

.delete {
  display: none;
}
